.circle-right-owners{
  position: relative;
  border-radius: 50%;
  border: 1px black solid;
  background-image: url('https://res.cloudinary.com/dhl1cdqch/image/upload/v1607577487/img_avatar2.png');
  background-size: 100px;
  width: 100px;
  height: 60px;
  padding-top: 40px;
  text-align: center;
  color: rgba(0,0,0,0);
  top: 20px;
  left: 50px;
  z-index: 2;
}
.rating-container-tenant{
  position: relative;
  top: -670px;
  left: 300px;
}
